@font-face {
    font-family: 'DM Sans';
    src: url('fonts\DMSans-Regular.ttf');
}
@font-face {
    font-family: 'DM Sans';
    font-weight: normal;
    src: url('fonts/DMSans-Bold.ttf');
}
@font-face {
    font-family: 'DM Sans-medium';
    src: url('fonts/DMSans-Medium.ttf');
}
@font-face {
    font-family: 'arvo';
    font-weight: bold;
    src: url('fonts/Arvo-Bold.ttf');
}
@font-face {
    font-family: 'SF Pro Display';
    font-weight: bold;
    src: url("fonts/SFPRODISPLAYBOLD.OTF") format("opentype");
}
.header{
position: absolute;
width: 1920px;
height: 750px;
left: calc(50% - 1920px/2 + 9px);
top: 55px;
}
body{
background-image: url("BG.png");
width: 1920px;
height: 750px;
font-family: 'DM Sans';
display: flex;
flex-direction: column;
align-items: center;
color: #02073E;
background-repeat: no-repeat;
}
.topper-menu{
position: absolute;
width: 1920px;
height: 50px;
left: 0px;
top: 0px;
background: #080111;
display: flex;
}
.gift{
position: absolute;
flex-direction: row;
width: 26px;
height: 26px;
left: 570px;
top: 12px;
}
.gift-text p{
    padding-left:40px;
    position: absolute;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction:row ;
    color: #FFFFFF;
    width: 450px;
    height: 26px;
    left: 570px;
    top: 0px;
}
.gift-currency{
position: absolute;
padding-left: 100px;
width: 250px;
height: 30px;
left: 922px;
top: 16px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;
display: flex;
align-items: center;
flex-direction: row;
color: #FFFFFF;
}
.gift-currency li{
list-style-type: none;
align-items: center;
margin-left: 5px;
margin-right: 5px;
}
.right-topper-menu p{
position: absolute;
top: -8px;
width: 77px;
height: 18px;
left: 1300px;
top: 16px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;
display: flex;
align-items: center;
color: #87A9FF;
}
.gift-currency ul{
display: flex;
flex-direction: row;
}
.menu{
padding-top: 50px;
display: flex;
flex-direction: row;
}
.logo {
width: 193px;
height: 37px;
display: flex;
flex-direction: row;
}
.logo p{
font-family: 'SF Pro Display';
font-style: normal;
font-weight: 700;
padding-left: 5px;
font-size: 18px;
line-height: 24px;
display: flex;
align-items: center;
color: #FFFFFF;
}
.top-nav ul{
display: flex;
flex-direction: row;
}
.top-nav li{
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 33px;
display: flex;
align-items: center;
color: #FFFFFF;
list-style-type: none;
}
.top-nav a{
text-decoration: none;
margin-left:35px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 33px;
display: flex;
align-items: center;
color: #FFFFFF;
}
.right-top-nav{
margin-left: 400px;
display: flex;
align-items: center;
justify-content:space-between;
}
.right-top-nav a{
margin-right: 10px;
}
.right-top-nav p{
margin-right: 30px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 33px;
display: flex;
align-items: center;
text-align: right;
color: #FFFFFF;
}
.right-top-nav button{    
    border-radius: 8px;
    border:0px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    background-color:#ffffff;
    color:#5B2B9D;
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 33px;
display: flex;
align-items: center;
text-align: center;
}
.box{
border-radius: 10px;
background-color: #FFFFFF;
margin-top: 120px;
width: 510px;
height: 450px;
left: 302px;
margin-bottom: 150px; 
align-items: center;
}
.box h1{
padding-top:20px;
padding-left:30px;
margin: 20px;
width: 430px;
height: 130px;
left: 342px;
top: 260px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 65px;
letter-spacing: -1px;
color: #02073E;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
justify-content: center;
}
.box input{
padding-left:30px;
margin-left:40px;
margin-top:20px;
margin-bottom:20px;
margin-right: 20px;
width: 430px;
height: 60px;
left: 302px;
top: 220px;
background: #FFFFFF;
box-shadow: 0px 24px 50px rgba(54, 91, 125, 0.05);
border-radius: 10px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
color: #02073E;
opacity: 0.4;
}
.box button{
    padding-left:30px;
    margin-left:40px;
    margin-right:20px;
    width: 430px;
    height: 60px;
    left: 342px;
    top: 430px;
width: 430px;
height: 60px;
left: 342px;
top: 510px;
background: #5B2B9D;
border-radius: 5px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 40px;
text-align: center;
color: #FFFFFF;
}
.box-underbutton p{
    margin-left: 170px;
    width: 180px;
    height: 20px;
    left: 474px;
    top: 590px;
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #02073E;
    opacity: 0.5;
}
.box img{
padding-left: 100px;
position: absolute;
width: 725px;
height: 481.59px;
left: 874px;
top: 208px;
}
.service-container{
width: 1500px;
padding-left:150px;
height: 412px;
left: 330px;
top: 860px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
}
.service-text{
position: absolute;
width: 404px;
height: 85px;
left: 758px;
top: 860px;
}
.service-text p{
width: 200px;
margin-left: 150px;
flex-direction: row;
display: flex;
height: 40px;
left: 877px;
top: 860px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 40px;
text-align: center;
color: #5B2B9D;
}
.service-text h2{
width: 500px;
height: 50px;
left: 758px;
top: 895px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 50px;
text-align: center;
letter-spacing: -0.5px;
color: #0F2137;
}
.flex-container > div{
margin:10px;
width: 300px;
height: 130px;
box-sizing: border-box;
border-radius: 5px;
background: #FFFFFF;
border: 1px solid #F0F2F8;
border-radius: 5px;
}
.flex-container{
margin-top:200px ;
display: flex;
flex-direction: row;
flex-wrap: wrap;
}
.flex-container h3{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    color: #0F2137;
}
.flex-container p{
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 30px;
text-align: center;
color: #7B72F0;
}
.mockup-image{
position: absolute;
width: 1500px;
height: 1500px;
left: 0px;
top: 1500px;
}
.mockup-text p{
position: absolute;
width: 200px;
height: 40px;
left: 1092px;
top: 1471px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 40px;
color: #5B2B9D;
}
.mockup-text h1{
position: absolute;
width: 500px;
height: 121px;
left: 1091px;
top: 1513px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 60px;
letter-spacing: -1.5px;
color: #0F2137;
}
.mockup-text h4{
    position: absolute;
    width: 478px;
    height: 70px;
    left: 1094px;
    top: 1660px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: #0F2137;
}
.mockup-box p{
position: absolute;
width: 314.08px;
height: 30px;
left: 1127.4px;
top: 1785px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 30px;
color: #0F2137;
}
.mockup-box h4{
position: absolute;
width: 450.32px;
height: 90px;
left: 1127.4px;
top: 1827px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 32px;
color: #343D48;   
}
.mockup-button-1{
position: absolute;
width: 520px;
height: 80px;
left: 1091px;
top: 1970px;
background: #F6F8FB;
border-radius: 10px;
}
.mockup-button-2{
    position: absolute;
    width: 520px;
    height: 80px;
    left: 1091px;
    top: 2070px;
    background: #F6F8FB;
    border-radius: 10px;
}
.mockup-button-1 p{
padding-top: 10px;
padding-left: 20px;
width: 373.36px;
height: 30px;
left: 1124.28px;
top: 1995px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 30px;
color: #0F2137;
}
.mockup-button-2 p{
padding-top: 10px;
padding-left: 20px;
width: 351.71px;
height: 30px;
left: 1124.09px;
top: 2095px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 30px;
color: #0F2137;
}
.features-container{
    position: absolute;
    width: 1920px;
    height: 840px;
    left: 0px;
    top: 2289px;
    background: #F9FAFC;
}
.features-text p{
padding-left: 897px;
width: 150px;
height: 40px;
left: 897px;
top: 2349px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 40px;
text-align: center;
color: #5B2B9D;
}
.features-text h1{
padding-left: 807px;
width: 350px;
height: 50px;
left: 807px;
top: 2384px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 50px;
text-align: center;
letter-spacing: -0.5px;
color: #0F2137;
}
.features-box{
padding-left: 400px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 1200px;
height: 472px;
left: 446px;
top: 2514px;
}
.features-box > div{
margin-top: 75px;
padding:25px;
width: 350px;
left: 446px;
top: 2514px;
}
.features-box img{
padding-left: 100px;
width: 70px;
height: 70px;
left: 563px;
top: 2514px;
}
.features-box h2{
width: 265px;
height: 30px;
left: 465px;
top: 2612px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 30px;
text-align: center;
color: #0F2137;
}
.features-box p{
width: 303px;
height: 53px;
left: 446px;
top: 2657px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 30px;
text-align: center;
color: #343D48;
}
.customer-support-photo img{
position: absolute;
width: 790px;
height: 725px;
left: 250px;
top: 3219px;
}
.customer-support-text h1{
position: absolute;
width: 547px;
height: 154px;
left: 1042px;
top: 3323.24px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 55px;
letter-spacing: -1px;
color: #0F2137;
}
.customer-support-text p{
position: absolute;
width: 470px;
height: 116px;
left: 1041px;
top: 3502.24px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 36px;
color: #02073E;
}
.customer-support-list-1{
position: absolute;
width: 300px;
height: 91px;
left: 1071px;
top: 3630.24px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 45px;
color: #02073E;
}
.customer-support-list-2{
position: absolute;
width: 205px;
height: 91px;
left: 1292px;
top: 3630.24px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 45px;
color: #02073E;
}
.customer-support-list-image-1{
position: absolute;
width: 23px;
height: 23px;
left: 1038px;
top: 3655.24px;
background: #DADADA;
}
.customer-support-list-image-2{
position: absolute;
width: 23px;
height: 23px;
left: 1038px;
top: 3720.24px;
background: #DADADA;
}
.customer-support-list-image-3{
position: absolute;
width: 23px;
height: 23px;
left: 1259px;
top: 3655.24px;
background: #DADADA;
}
.customer-support-list-image-4{
position: absolute;
width: 23px;
height: 23px;
left: 1259px;
top: 3720.24px;
background: #DADADA;
}
.pricing-text p{
position: absolute;
width: 190px;
height: 40px;
left: 855px;
top: 3962px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 40px;
text-align: center;
color: #5B2B9D;
}
.pricing-text h2{
position: absolute;
width: 420px;
height: 50px;
left: 753px;
top: 3997px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 50px;
text-align: center;
letter-spacing: -0.5px;
color: #0F2137;
}
.pricing-box-1{
 position: absolute;
 width: 500px;
 height: 650px;
 left: 289px;
 top: 4152px;
}
.pricing-box-1 h3{
width: 114px;
height: 23px;
left: 334px;
top: 4192px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 23px;
display: flex;
align-items: flex-end;
color: #0F2137;
}
.pricing-box-1 p{
width: 307px;
height: 46px;
left: 334px;
top: 4223px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #343D48;
opacity: 0.65;
}
.pricing-box-1 h2{
padding-top: 20px;
padding-bottom: 20px;
width: 200px;
height: 26px;
left: 334px;
top: 4309px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 34px;
display: flex;
align-items: flex-end;
letter-spacing: -0.55px;
color: #0F2137;
}
.pricing-box-1 button{
box-sizing: border-box;
width: 160px;
height:50px;
left: 334px;
top: 4365px;
background: #FFFFFF;
border: 1.5px solid #5B2B9D;
border-radius: 5px;
left: 365px;
top: 4370px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 40px;
text-align: center;
letter-spacing: -0.5px;
color: #5B2B9D;
}
.pricing-box-1-features img{
position: absolute;
padding-top: 25px;
}
.pricing-box-1-features p{
padding-left: 35px;
padding-top: 25px;
width: 350px;
height: 42px;
left: 368px;
top: 4475px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
display: flex;
align-items: flex-end;
color: #343D48;
}

.upper-pricing-box-2{
    position: absolute;
    width: 500px;
    height: 35px;
    left: 724px;
    top: 4117px;
    background: #52ACFF;
    border-radius: 8px 8px 0px 0px;
}
.upper-pricing-box-2 h3{
padding-left: 175px;
width: 163px;
height: 18px;
left: 858px;
top: 4126px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;
display: flex;
align-items: flex-end;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}
.pricing-box-2{
position: absolute;
width: 500px;
height: 650px;
left: 724px;
top: 4152px;
background: #FFFFFF;
box-shadow: 0px 15px 50px rgba(91, 132, 193, 0.1);
border-radius: 0px 0px 10px 10px;
}
.pricing-box-2 h3{
width: 126px;
height: 23px;
left: 769px;
top: 4192px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 23px;
display: flex;
align-items: flex-end;
color: #0F2137;
}
.pricing-box-2 p{
width: 307px;
height: 46px;
left: 769px;
top: 4223px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #343D48;
opacity: 0.65;
}
.pricing-box-2 h2{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 200px;
    height: 26px;
    left: 769px;
    top: 4309px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.55px;
    color: #0F2137;
}
.pricing-box-2 button{
width: 170px;
height: 50px;
left: 769px;
top: 4365px;
background: #5B2B9D;
border-radius: 5px;
left: 800px;
top: 4370px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 40px;
text-align: center;
letter-spacing: -0.5px;
color: #FFFFFF;
}
.pricing-box-2-features img{
position: absolute;
padding-top: 25px;
}
.pricing-box-2-features p{
padding-left: 35px;
padding-top: 25px;
 width: 350px;
height: 42px;
left: 803px;
top: 4475px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
display: flex;
align-items: flex-end;
color: #343D48;
}

.pricing-box-3{
position: absolute;
width: 430px;
height: 640px;
left: 1259px;
top: 4152px;
}
.pricing-box-3 h3{
    padding-left: 40px;
    width: 126px;
    height: 23px;
    left: 1204px;
    top: 4192px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: flex-end;
    color: #0F2137;
    }
    .pricing-box-3 p{
    padding-left: 40px;
    width: 307px;
    height: 46px;
    left: 769px;
    top: 4223px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #343D48;
    opacity: 0.65;
    }
    .pricing-box-3 h2{
        padding-left: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 200px;
        height: 26px;
        left: 769px;
        top: 4309px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        line-height: 22px;
        display: flex;
        align-items: flex-end;
        letter-spacing: -0.55px;
        color: #0F2137;
    }
    .pricing-box-3 button{
    width: 170px;
    height: 50px;
    left: 769px;
    top: 4365px;
    background: #5B2B9D;
    border-radius: 5px;
    margin-left: 40px;
    left: 800px;
    top: 4370px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #FFFFFF;
    }
    .pricing-box-3-features img{
    padding-left: 40px;
    position: absolute;
    padding-top: 25px;
    }
    .pricing-box-3-features p{
    padding-left: 75px;
    padding-top: 25px;
     width: 350px;
    height: 42px;
    left: 803px;
    top: 4475px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: flex-end;
    color: #343D48;
    }
.client-container{
position: absolute;
width: 1920px;
height: 740px;
left: 0px;
top: 4914px;
background-image: url("Rectangle 582.png");
background-size: 90%;
background-position: bottom;
display: flex;
flex-direction: row;
}
.client-image{
width: 521px;
height: 740px;
left: 342px;
top: 4914px;
}
.client-text{
padding-left:250px;
}
.client-text h1{
padding-top: 100px;
width: 700px;
height: 266px;
left: 980px;
top: 5146px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 55px;
letter-spacing: -1px;
color: #0F2137;
}
.client-text h3{
padding-top:100px;
width: 300px;
height: 36px;
left: 979px;
top: 5458px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 36px;
color: #02073E;
}
.slider-image{
position: absolute;
display: flex;
flex-direction: row;
width: 30px;
height: 6px;
left: 980px;
top: 5598px;
background: #5B2B9D;
border-radius: 10px;
}
.blog-container{
padding-top: 2300px;
width: 1300.47px;
height: 540px;
left: 310px;
top: 5734px;
display: flex;
flex-direction: row;
}
.blog-text p{
position: absolute;
width: 202px;
height: 40px;
left: 859px;
top: 5700px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 40px;
text-align: center;
color: #5B2B9D;
}
.blog-text h2{
position: absolute;
width: 420px;
height: 50px;
left: 774px;
top: 5740px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 50px;
text-align: center;
letter-spacing: -0.5px;
color: #0F2137;
}
.blog-container-1 h3{
width: 340px;
height: 30px;
left: 310px;
top: 6129px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #0F2137;
}
.blog-container-1 p{
width: 440px;
height: 60px;
left: 310px;
top: 6174px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
color: #343D48;
}
.blog-container-1 h4{
width: 120px;
height: 20px;
left: 310px;
top: 6254px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 20px;
color: #3183FF;
}
.blog-container-2 h3{
width: 340px;
height: 30px;
left: 760px;
top: 6129px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #0F2137;
}
.blog-container-2 p{
width: 440px;
height: 60px;
left: 760px;
top: 6174px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
color: #343D48;
}
.blog-container-2 h4{
width: 120px;
height: 20px;
left: 760px;
top: 6254px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 20px;
color: #3183FF;
}
.blog-container-3 h3{
width: 340px;
height: 30px;
left: 1210px;
top: 6129px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #0F2137;
}
.blog-container-3 p{
width: 440px;
height: 60px;
left: 1210px;
top: 6174px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
color: #343D48;
}
.blog-container-3 h4{
width: 120px;
height: 20px;
left: 1210px;
top: 6254px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 20px;
color: #3183FF;
}
.FAQ-container{
position: absolute;
width: 1240px;
height: 824px;
left: 340px;
top: 6404px;
}
.FAQ-text p{
padding-left:500px ;
width: 240px;
height: 40px;
left: 859px;
top: 6404px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 40px;
text-align: center;
color: #5B2B9D;
}
.FAQ-text h3{
padding-left: 450px;
width: 340px;
height: 50px;
left: 817px;
top: 6439px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 50px;
text-align: center;
letter-spacing: -0.5px;
color: #0F2137;
}
.FAQ-box{
display: flex;
flex-direction: row;
}
.FAQ-box-1{
width: 580px;
height: 596px;
left: 340px;
top: 6569px;
}
.FAQ-box-2{
width: 580px;
height: 659px;
left: 1000px;
top: 6569px;
}
.FAQ-box-group-1 p{
padding-bottom: 50px;
width: 560px;
height: 89px;
left: 340px;
top: 6614px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
color: #343D48;
}
.FAQ-box-group-2 p{
    width: 560px;
    height: 89px;
    left: 340px;
    top: 6812px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #343D48;
    padding-bottom: 50px;
}
.FAQ-box-group-3 p{
    width: 560px;
    height: 89px;
    left: 340px;
    top: 7048px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #343D48;
}
.FAQ-box-group-4 p{
    width: 560px;
    height: 89px;
    left: 1000px;
    top: 6614px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #343D48;
}
.FAQ-box-group-5 p{
    width: 560px;
    height: 89px;
    left: 1000px;
    top: 6784px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #343D48;
}
.FAQ-box-group-6 p{
    width: 560px;
    height: 89px;
    left: 1000px;
    top: 6982px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #343D48;
}
.FAQ-box-group-7 p{
    width: 560px;
    height: 89px;
    left: 1000px;
    top: 7147px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #343D48;
}
.FAQ-box-group-1 h3{
width: 400px;
height: 30px;
left: 340px;
top: 6569px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 30px;
letter-spacing: -0.5px;
color: #0F2137;
}
.FAQ-box-group-2 h3{
    width: 400px;
    height: 30px;
    left: 340px;
    top: 6767px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.5px;
    color: #0F2137;
}
.FAQ-box-group-3 h3{
    width: 400px;
    height: 30px;
    left: 340px;
    top: 7003px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.5px;
    color: #0F2137;
}
.FAQ-box-group-4 h3{
    width: 500px;
    height: 30px;
    left: 1000px;
    top: 6569px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.5px;
    color: #0F2137;
}
.FAQ-box-group-5 h3{
    width: 600px;
    height: 30px;
    left: 1000px;
    top: 6737px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.5px;
    color: #0F2137;
}
.FAQ-box-group-6 h3{
    width: 400px;
    height: 30px;
    left: 1000px;
    top: 7103px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.5px;
    color: #0F2137;
}
.FAQ-box-group-7 h3{
    width: 400px;
    height: 30px;
    left: 1000px;
    top: 6569px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.5px;
    color: #0F2137;
}
.team-container{
position: absolute;
width: 992px;
height: 801px;
left: 464px;
top: 7403px;
}
.team-text h1{
padding-left:200px;
width: 600px;
height: 101px;
left: 692px;
top: 7403px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 50px;
text-align: center;
letter-spacing: -0.5px;
color: #0F2137;
}
.team-text p{
padding-left:200px;
width: 600px;
height: 71px;
left: 669px;
top: 7519px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 35px;
text-align: center;
color: #0F2137;
}
.footer-container{
position: absolute;
left: 0%;
right: 0%;
top: 8204px;
bottom: 0%;
flex-direction: column;
display: flex;
flex-wrap: nowrap;
}
.footer-top{
width: 1300px;
height:200px;
border-radius: 15px;
background-color: #183656;
display: flex;
flex-direction: row;
position: absolute;
left: 16.41%;
}
.footer-top img{
width: 513.41px;
height: 135.6px;
left: 916.59px;
top: 8236px;
}
.footer-top h1{
padding-left: 40px;
padding-top: 20px;
width: 484px;
height: 111px;
left: 385px;
top: 8246px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 55px;
display: flex;
align-items: center;
letter-spacing: -0.5px;
color: #FFFFFF;
}
.footer-top button{
position: absolute;
width: 176px;
height: 22px;
left: 1000px;
top: 3293px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 22px;
text-align: center;
letter-spacing: 0.1em;
color: #183656;
width: 260px;
height: 60px;
left: 875px;
top: 40px;
background: #FFFFFF;
}
.footer-bottom{
margin-top: 250px;
position: absolute;
left: 21.51%;
right: 16.98%;
top: 96.64%;
bottom: 0.53%;
display:flex;
flex-direction: row;
}
.logo-text{
width: 154px;
height: 24px;
left: 454px;
top: 8475px;
font-family: 'SF Pro Display';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
color: #02073E;
opacity: 0.8;
}
.footer-bottom ul{
list-style: none;
}
.support-group li{
width: 164px;
height: 40px;
left: 703px;
top: 8514px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 250%;
color: #02073E;
opacity: 0.8;
}
.policy-group li{
width: 170px;
height: 40px;
left: 939.36px;
top: 8514.05px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 250%;
color: #02073E;
opacity: 0.8;
}
.account-group li{
width: 161px;
height: 40px;
left: 1172px;
top: 8514px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 250%;
color: #02073E;
opacity: 0.8;
}
.media-group li{
width: 180px;
height: 40px;
left: 1414px;
top: 8514px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 250%;
color: #02073E;
opacity: 0.8;
}
@media only screen and (max-width: 1920px) {
    body {
      background-size: 120%;
    }
}
@media only screen and (max-width: 1650px) {
    body {
      background-size: 120%;
      background-position: top center;
    }
}
@media only screen and (max-width: 1400px) {
    body {
      background-size: 140%;
    }
  }
@media only screen and (max-width: 1250px) {
    body {
        background-size: 165%;
        background-position-x: 40%;
        background-position-y:top;
      }
    }
@media only screen and (max-width: 991px) {
        body {
          background-size: 210%;
          background-position-x: 20%;
        }
 }
 @media only screen and (max-width: 768px) {
    h1{
        font-size:32px;
        line-height:48px;
    }
 }
 @media only screen and (max-width: 500px) {
    body{
        background-image: none;
    }
 }
